.header{
    display: flex;
    background: black;
    color: white;
    padding: 15px;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 99;
}
.header img{
    height: 40px;
    margin-right: 11px;
    border-radius: 4px;
}
.header h1{
    margin: 0px;
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    align-items: center;
}

@media (max-width:480px) {
    .header h1{
        font-size: 1.5rem;
    }
}