.footer{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    z-index: 99;
}
.footer p{
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}
.icons a{
    padding: 6px 9px;
    background: white;
    margin-left: 15px;
    border-radius: 50%;
    font-size: 17px;
    color: black;
}
.facebook{
    padding: 6px 11px !important;
}
.icons a:hover{
    background: #ff0057;
    color: white;
}

@media (max-width:480px) {
    .footer p{
        font-size: 9px;
    }
    .icons a{
        font-size: 10px;
    }
}