<div class="footer">
    <p>	&#169;&nbsp;2022, FYLE INC All rights reserved.</p>
    <div class="icons">
        <a href="https://www.linkedin.com/company/fyle/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://twitter.com/FyleHQ" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/FyleHQ" target="_blank" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/teamFyle/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
</div>
