<div class="container"  *ngIf="!notFound">
    <div class="top d-flex align-items-center">
        <img class="avatar" src={{userData?.avatar_url}} alt="avatar">
        <div class="user">
            <p class="userName">{{userData?.name === null ? 'N/A' : userData?.name}}</p>
            <p class="userDesc" *ngIf="userData?.bio !== null">{{userData?.bio === null ? 'N/A' : userData?.bio}}</p>
            <p class="userLocation"  *ngIf="userData?.location !== null"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{userData?.location}}</p>
            <p class="userLink"  *ngIf="userData?.twitter_username !== null">Twitter : <a href={{userData?.twitter_username}} target="_blank">{{userData?.twitter_username}}</a></p>
        </div>
    </div>
    <p><i class="fa fa-link" aria-hidden="true"></i> &nbsp;<a href={{userData?.url}} target="_blank">{{userData?.html_url === null ? 'N/A' : userData?.html_url}}</a></p>
    <div class="mainBody row justify-content-between" >
        <div class="card col-md-5 col-12" *ngFor="let item of repoList | paginate: { itemsPerPage: 10, currentPage: page }">
            <div class="cardHeading">
                 <p class="col-9">{{item.name === null ? 'N/A' : item.name}}</p>
                 <a class="view" href={{item.html_url}} target="_blank">View&nbsp;<i class="fa fa-eye" aria-hidden="true"></i></a>
            </div>
            <div class="cardDesc">
                <p>{{item.description === null ? 'N/A' : item.description}}</p>
            </div>
            <div class="technology">
                  <button>{{item.language === null ? 'N/A' : item.language}}</button>
            </div>
        </div>
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>
</div>


<div class="notFound" *ngIf="notFound">
    <p>NO USER FOUND&nbsp; <i class="fa fa-frown-o" aria-hidden="true"></i></p>
</div>

