<div class="modalContent">
    <div class="modal">
        <div class="modalHeader">
            <div class="logo">
                <img src="./../../assets/fyleIcon.jpeg" alt="">
                <h1>FYLE</h1>
            </div>
        </div>
        <div class="modalBody">
            <input type="text" placeholder="Please enter your Github Username"  [(ngModel)]="userName">
            <span *ngIf="error">Please enter a username</span>
            <button (click)="addData(userName)">Submit</button>
        </div>
    </div>
</div>